body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #EBE8E2;  /* Adjust this to match the background of your app */
}

nav {
  opacity: 1;
  padding: 5vh 0;  /* Add padding to make the navbar taller */
  width: 100%;
  box-shadow: none;  /* Remove the shadow to make the navbar blend */
  border-bottom: none;  /* Optional: subtle border for slight separation */
  padding-bottom: 5vh;
}

nav ul {
  display: flex;
  justify-content: center; /* Center the links */
  align-items: center; /* Vertically align the links */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 20px;  /* Add space between each link */
}

nav ul li a {
  text-decoration: none;
  color: #333;  /* Dark text for the links */
  font-size: 18px;
  padding: 5px 15px;  /* Add padding around the links */
  border-radius: 5px; /* Optional: rounded corners */
}

nav ul li a:hover {
  background-color: #ddd;  /* Light background color on hover */
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
